<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students Grades</title>
    {{ bootstrap.load_css() }}
</head>
<body class="bg-secondary-subtle">
    <main class="container mb-4 bg-body-tertiary rounded-2 text-center">
        <h1 class="my-4 text-center fs-1 fw-bold">Students Grades</h1>

        <h2>Upload your CSV file:</h2>
        <span id="warning" class="fst-italic fw-light">
            <p >* The CSV file must have the columns:</p>
            <ul class="w-25 d-block m-auto text-start">
                <li>student name</li>
                <li>score 1</li>
                <li>score 2</li>
                <li>score 3</li>
            </ul>
        </span>

        <form method="POST" enctype="multipart/form-data" class="d-flex flex-column gap-3 py-4">
            <div class="form-group container">
                <input type="file" name="file" accepted=".csv" required class="form-control-file">
            </div>
            <button type="submit" class="btn btn-primary w-25 d-block m-auto">Upload</button>
        </form>

        {% if error %}
            <p class="text-danger">{{ error }}</p>
        {% endif %}
    </main>

    {{ bootstrap.load_js() }}
</body>
</html>